/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #707070;
}

/* =================
Typography
================= */

h1,
h2,
.post-list-info {
    font-family: 'Lora', serif;
}

h1,
h2,
.sidebar {
    color: #143774;
}

h3 {
    font-family: 'Lora', serif;
    color: #1792d2;
    font-weight: 300;
    font-size: 1.3rem;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
}

.sidebar h1 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    position: absolute;
    top: 2em;
}

h2 {
    font-weight: 300;
    margin: 0;
}

p {
    line-height: 1.5em;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    color: #143774;
}

.subtitle {
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

.bold {
    font-weight: 700;
}

.p-link {
    color: #1792D2;
    text-decoration: underline;
}

.link-page {
    text-decoration: none;
    color: #1792D2;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 0.875rem;
}

.link-page,
.sidebar h1 {
    letter-spacing: .2em;
}

/* =================
Layout
================= */

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

main.container {
    margin: 2.5em auto;
}

main.container,
.sidebar .container {
    flex-direction: column;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background: #F8F8F8;
    padding: 2em 0;
}

@media (max-width: 751px) {
    .container-nav {
        flex-direction: column;
    }

    header {
        text-align: center;
    }
}


@media (min-width: 752px) {
    main.container {
        max-width: 900px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .col-1 {
        width: 35%;
    }

    .col-2 {
        width: 60%;
    }
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

nav li {
    margin-left: 2em;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #707070;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 751px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em 0;
    }
}

/* =================
Content
================= */

img {
    width: 100%;
}


.sidebar .container {
    background-color: #FFFFFF;
    padding: 3.5em 1.2em 1.5em 1.2em;
    width: auto;
}

.sidebar {
    margin: 0 0 4em 0;
    padding: 1em;
    background: #EBEBEB;
    position: relative;
}

.sidebar-info {
    font-size: .85rem;
    margin-bottom: 0;
}

.post-list {
    border-bottom: .3px solid #707070;
    margin: 0 0 1em 0;
    padding-bottom: 1em;
}

.post-list img,
.sidebar img {
    margin-bottom: 1em;
    height: 6em;
    object-fit: cover;
    object-position: center;
}

.post-list .bottom-img-cut {
    object-position: bottom;
}

.topic-list {
    padding: 0 0 4em 0;
}

.topic-list img {
    margin-bottom: 1.5em;
}

.topic-list-left {
    position: relative;
}

.topic-label {
    font-size: .8rem;
    display: inline-block;
    padding: 1.1em 0;
}

.current-topic.border-bottom {
    padding-bottom: 1.7em;
    margin-bottom: 1.7em;
    border-bottom: 1px solid #707070;
}

.current-topic img {
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 1.5em;
}

.current-topic .about-me-img{
    margin-bottom: 3em;
}

.current-topic .cut-img-center {
    object-position: center;
}

.sidebar .sidebar-about-me-img{
    height: 100%;
}

.current-topic img, .topic-list img{
    height: 15em;
    object-fit: cover;
    object-position: center;
}

.topic-list .bottom-img-cut{
    object-position: bottom;
}

@media (min-width: 500px) and (max-width: 751px) {
    .topic-list .topic-label {
        position: absolute;
        right: 0;
        bottom: -1.6em;
        padding: 0;
    }
}

@media (min-width: 752px) {

    .topic-list {
        display: flex;
        justify-content: space-between;
        padding: 0 0 5em 0;
    }

    .topic-list img {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .topic-list .left-img-cut {
        object-position: left;
    }

    .topic-list .right-img-cut {
        object-position: right;
    }

    .topic-list .topic-label {
        padding: 0 0 2em 0;
    }
}

footer {
    background-color: #143774;
    color: #EBEBEB;
    text-align: center;
    padding: 3em 0;
}

footer p{
    margin-bottom: 0;
}
